
section{
    margin: 3rem;
}

div{
    background-color: rgb(0, 1, 68);
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.transition {
    transition-property: "background-color"; /* Para que un cambio haga algo siguiendo un patrón. Con all todas las propiedades van a seguir el mismo proceso (Todas las que cambien, en este caso el color y el tamaño). */
    transition-duration: 3s; /* Décimas de segundo en general */
    /* Sólo se puede transicionar cosas que valgan cosas numéricas (Ej: las letras no pueden tener transiciones) */
    transition-delay:1s; /* Hacemos que dure lo que dure pero que se espere x para empezar la transición */
    transition-timing-function: cubic-bezier(.44, 1.07, .88, .33);/* Curvas de bezier */
}

p.boton:hover+div {
    background-color: rgb(58, 70, 238);
    color: white;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
}

div.transform {
    transition-property: all;
    transition-duration: 3s; 
    transition-timing-function: linear;
}

p.btn-Esc:hover+div {
    transform-origin: left;
    transform: scale(3); /* Admite uno o dos valores (si uno, lo hace por los dos). Hace x veces que crezca */
}

p.btn-Rot:hover+div {
    transform-origin: top; /* Gira entorno a un punto */
    transform: rotate(100deg) /* Los grados de rotación, 360 grados que rote entero y así. DEG de degrees en inglés */
}

p.btn-Incl:hover+div {
    transform: skew(10deg);
}

p.btn-Tras:hover+div {
    transform: translateX(100px)
}

section.trans3d{
    perspective: 500px;
}

/* .btn-3D {
    
} */

p.btn-3D:hover+div {
    transform: translateZ(1rem);
    transform: translate3d(3rem , 3rem)
}


