
/*BODY*/


body{
    background-color: rgba(0, 0, 0, 0.192);
    margin-left: 0%;
}

h1{
    font-family: 'Delius Unicase', cursive;
}

blockquote {
    font-family: 'Laila', serif;
    quotes:\00AB, \00BB;
}

blockquote::after {
    content: open-quote;;
}

blockquote::before {
    content: open-quote;
}

/*FORMULARIO*/

.fal .fa-sign-in-alt {
    min-width: 10px;;
}













