
/*BODY*/


body{
    background-color: rgba(0, 0, 0, 0.192);
    margin-left: 0%;
}

h1{
    font-family: 'Delius Unicase', cursive;
}

blockquote {
    font-family: 'Laila', serif;
    quotes:\00AB, \00BB;
}

blockquote::after {
    content: close-quote;;
}

blockquote::before {
    content: open-quote;
}

/* Cambiar tipo de comillas */

/*FORMULARIO*/

button.sing-up {
    font-size: 1rem;
    color: rgb(37, 0, 248);
}













