/* //footer */
footer {
    background-color: var(--color-fondo);
    color:var(--color-letra);
    text-align: center;    
}

.footer aside li{
    display: inline;
    
}
.footer a {
    color:var(--color-letra);    
}

.footer aside a {
    color: inherit;
    text-decoration: none;
    text-align:center;
    display: inline;
    padding: 1rem 1rem; /* Da "Aire" a la página */    
}

address>div {
    font-style: inherit;    
    margin: 2rem;
}

/* RESET*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font:inherit;
    vertical-align: baseline;
}

/* Header */

.header {
    background-color: var(--color-fondo);
    color:var(--color-letra);
    padding: 0.8rem 0rem 0.5rem 1rem;
    font-size: large;
    background-image: url("./assets/oilseed-rape-2135026_1920.jpg");
}

.header p {
    font-size: var(--size-sub);
    margin: 1rem;
}

.header h1 {
    /* background-color: var(--color-fondo);  */
    color:var(--color-letra);    
    font-family:var(--tipo-letra-title);
    padding: 0.8rem 0rem 0.5rem 1rem;
    font-size: xx-large;
    text-shadow: rgba(2, 88, 2, 0.397) 0.1em 0.1em 0.2em;
    font-size: var(--size-title);
    margin-bottom: 1rem;
}
/* //Ambas se refieren a h1 */
/* .h1-header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:var(--tipo-letra-title);
} */



/* // body  */
body {
    font-family: var(--tipo-letra-body);
    line-height: 1;
    font-size: var(-size-base-);
   /*  background-image: linear-gradient(rgba(109, 240, 148, 0.5), rgba(255, 255, 0, 0.5))
                 ; */
}
main{
    margin: 2rem 2rem;
    
}
main h2 {
    font-size: var(--size-title-section);
    margin: 0.8rem;
    font:bold;
}

main p {
    margin: 0.8rem;
}
/* 
main article {
    width: 49%;
    display: inline-block; /* Hemos quitado el margen */
   /*  vertical-align: top;
    background-color: var(--color-article-border) ;
    border: var(--color-article-fondo);
} */ 

section article {
    width: 50%;
    padding: 1rem;
    background-color: var(--color-article-fondo);
    border: 1px solid var(--color-article-border);
}

 .inline-block article{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    vertical-align: top;
/* padding: 1rem; Para que no se vaya para abajo cuando se hace pqueño*/
}

section.inline-block article:nth-of-type(2) {
    margin-left: -4px;
}

section {
    margin-top: 10px;
}

section.float article{
    float:left;
}

section.float:after{
    content: '';
    display: block; /* ClearFix */
    clear: both;
}

section .table {
    display: table;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

section .table article{
    display: table-cell; /* Pone al mismo nivel el bloque de secciones */
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; /* Hace que todas las columnas tengan el mismo espacio, en cambio ocn flex-start se colocan en vez de extendidos de forma que se respetara el espacio */
}

section .flex article{
    width:100%;
}

section .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; /* Pone al mismo nivel el bloque de secciones */
    /* flex-wrap: nowrap; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; /*Se colocan uno debajo de otro pero sólo es flex*/
}

@media screen and (min-width: 600px) { /*mobile first  con -device- nos funciona sólamente cuando demos a la vista del móvil en el ordenador*/
    section .flex{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;          
    } 
} /*lee el codigo t al llegar a ma media query aplica lo que le pedimos en la media. El primero interpreta el código y crea un cuando (cuando sea más pequeño que 600px haz x)*/

section>header{
    margin-bottom:5px;
    background-color: rgb(238, 238, 238);
}

/* Iconos */

.fas {
    color: green;
}

ul li {
    color: green;
}
/* Variables */

:root {
    --color-letra: rgb(110, 110, 110);
    --color-fondo: rgba(199, 199, 197, 0.479);
    --tipo-letra-body:  'Roboto', sans-serif;
    --tipo-letra-title: 'Bree Serif', serif;
    --size-title: 4rem;
    --size-sub: 1.4rem ;
    --size-base: -webkit-calc(8rem/16) ;
    --size-base: -moz-calc(8rem/16) ;
    --size-base: calc(8rem/16) ; 
    --size-title-section: 1.5rem ;
    --color-article-fondo :rgb(216, 248, 210);
    --color-article-border :rgb(0, 165, 63) ;

}

/* 
16px - 1rem
14px - x     x= 0.875

en cs3 calc te calcula los px
se puede meter también en variables
*/











