.mainheader {
    background-color:black;
    color:hotpink;
    height: 10vh;
    text-align: center;
    padding: 1rem 0rem 2rem 0rem;
}

.mainheader p {
    font-size: 1,33rem;
    margin-top: -1rem ;
    font-weight: bold;

}

.mainfooter {
    background-color: beige;
    color: coral;
    text-align: end;
    padding: 1rem; /* Da "Aire" a la página */
}

.sectionHeader {
    border: 1px salmon;
    background-color: lightpink;
    border: 1px;
    border-color: dimgrey;
}

.sectionFooter {
    color: brown;
}



