body {
    margin: 0;
    background-color: bisque
}

header {
    background-color: brown;
    color: bisque;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.grid {
    /* min-height: 70vh; */
    display: grid;
    grid-template-columns: 1fr  2fr auto ; /* Sólo se puede hacer en grid: x fr. Forma horizontal, anchura  */
    /* grid-template-rows: auto 2fr 1fr; */ /* Cuando no hay una columna o una fila específica se la inventa. */
    /* La funcion repeat sirve para no escribir tantos fr */
    grid-template-rows: 2fr 1fr; /*grid-template-rows: auto repeat(2,1fr); Número de veces que quieres que se repita + con cuanto de ancho/largo */
    grid-column-gap:0.5rem ;/* No tenemos margenes por los lados externos sino por el interno que lo hace por defecto */
    grid-row-gap: 0.5rem;/* Margen entre medias pero de arriba a abajo (verticalmente entre los div) */
    grid-auto-rows: 1fr;/* Nos permite definir cómo queremos que sean las filas que surgan de forma automática */
    /* El valor por defecto de los div es lo que contiene dentro. */
}

section.grid div {  /* Los grid por defecto no tienen márgenes */
    font-size: 4rem;
    padding: 1rem;
    background-color: darksalmon;
    /* margin: 0.5rem; esto es el márgen de la section
 */
    
}

section.grid div:nth-of-type(1){/* Cambio de tamaño */
    grid-column-start: 1; /* La linea de inicio en la horizontal */
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

section.grid div:nth-of-type(2){
    /* grid-column-start: 2; */ /* La linea de inicio en la horizontal */
    /* grid-column-end: 3; */
    /* grid-row-start: 3;
    grid-row-end: 5; */
    /* Forma abreviada de poner todo lo de arriba */
    grid-column: 2 / 3;
    grid-row: 3 / span 2; /* span lo utiliza para sumar 3 y 2 y te da 5 que es el número que va a coger para cambairle de tamaño */
}

/* En el caso de que qioeras hacer mas grande de tamaño pero es la última fila, se inventará las filas para que el div en cuestión pueda crecer */

section.grid div:nth-of-type(9){
   /*  grid-column-start: 5; /* La linea de inicio en la horizontal */
    /*grid-column-end: 7; */
    grid-row-start: 5;
    grid-row-end: 7;

}















