extends ../partials/layout.pug

block variables
    -const page = 3;
    -const page_title ='Clientes';
    -const aPaises = [{nombre:"España", id:"es"},{nombre:"Colombia", id:"co"},{nombre:"Francia", id:"fr"},{nombre:"Italia", id:"it"}];

block main
        section#clientes
            h2 Clientes
            form(action="" method="get")        
                select(name="pais")
                    each item in aPaises
                            option(value=item.id title) #{item.nombre}
                        



