extends ../partials/layout.pug

block variables
    -const page = 1;
  
block main
    section#inicio
        h2 inicio
        figure
            img(src="https://via.placeholder.com/500x350", alt="alt")   
        p Interpolar variables. Poner una variable ya establecida debemos ir a options.js # { variables }                           

        