extends ../partials/layout.pug

block variables
    -const page = 4;
    -const page_title = 'Partners';

block main
    section#partners
        header  
            h2 Partners
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quidem nihil vitae officia maiores, recusandae voluptates, sint aut doloremque eius, blanditiis omnis! Deserunt hic, pariatur adipisci atque rerum aut. Molestiae.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsam quas dignissimos error quasi repudiandae corrupti ea accusamus corporis aut minus delectus assumenda aspernatur, sunt dolorem! Cum sapiente vitae sunt!
            h3 Partner 1
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur quibusdam a assumenda, provident laboriosam consequuntur facere cupiditate laborum amet voluptatibus eos asperiores, ipsum doloremque ut neque illum nobis voluptate.
                p Voluptates porro accusamus explicabo asperiores ipsum similique aspernatur perspiciatis hic voluptatem error, soluta, ad sed accusantium optio laborum libero assumenda perferendis inventore omnis officia nulla consectetur dolores, adipisci nihil. Dolore.
                p Enim repellendus deleniti fugiat, excepturi incidunt ducimus accusantium aliquam totam similique tempore alias reiciendis libero, aliquid earum cum aperiam assumenda, commodi quam repudiandae debitis ipsa. Dolores eum voluptates fuga nulla?
            h3 Partner 2
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur quibusdam a assumenda, provident laboriosam consequuntur facere cupiditate laborum amet voluptatibus eos asperiores, ipsum doloremque ut neque illum nobis voluptate.
                p Voluptates porro accusamus explicabo asperiores ipsum similique aspernatur perspiciatis hic voluptatem error, soluta, ad sed accusantium optio laborum libero assumenda perferendis inventore omnis officia nulla consectetur dolores, adipisci nihil. Dolore.
                p Enim repellendus deleniti fugiat, excepturi incidunt ducimus accusantium aliquam totam similique tempore alias reiciendis libero, aliquid earum cum aperiam assumenda, commodi quam repudiandae debitis ipsa. Dolores eum voluptates fuga nulla?
            h3 Partner 3
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur quibusdam a assumenda, provident laboriosam consequuntur facere cupiditate laborum amet voluptatibus eos asperiores, ipsum doloremque ut neque illum nobis voluptate.
                p Voluptates porro accusamus explicabo asperiores ipsum similique aspernatur perspiciatis hic voluptatem error, soluta, ad sed accusantium optio laborum libero assumenda perferendis inventore omnis officia nulla consectetur dolores, adipisci nihil. Dolore.
                p Enim repellendus deleniti fugiat, excepturi incidunt ducimus accusantium aliquam totam similique tempore alias reiciendis libero, aliquid earum cum aperiam assumenda, commodi quam repudiandae debitis ipsa. Dolores eum voluptates fuga nulla?        











