-const page = 5;

include ../partials/variables.pug
include ../partials/mixins.pug

include ../partials/meta.pug
    body
        include "../partials/header.pug"   
        main
            section(id=aMenu[3].id)
            header
                h2= aMenu[3].nombre
                p= aMenu[3].description
            h3  Formulario de contactos 
            form(action="" method="get")   
                +inputGroup('Nombre') 
                    input(type="text", name="nombre")
                +inputGroup('Email') 
                    input(type="email", name="email")   
                +inputGroup('Contraseña') 
                    input(type="password", name="password")    
                +inputGroup('Comentarios') 
                    textarea(name="comentarios", cols="30", rows="10")
        include ../partials/footer.pug    










