// esto es un comentario para html
//-Esto es un comentario sólo para pug
//-     más comentario
-const page = 1;
-const aPaises = [{nombre:"España", id:"es"},{nombre:"Colombia", id:"co"},{nombre:"Francia", id:"fr"},{nombre:"Italia", id:"it"}];
// Mixin estructuras qwe tienen forma de funciones (Se les puede añadir parámetros y tienen un nombre)

-let x = 5;
- x= x*x


include ../partials/variables.pug
include ../partials/mixins.pug

include ../partials/meta.pug
    body
        include ../partials/header.pug   
        main
            section#inicio
                h2 inicio
                figure
                    img(src="https://via.placeholder.com/500x350", alt="alt")   
                p Interpolar variables. Poner una variable ya establecida debemos ir a options.js # { variables }                           
        include ../partials/footer.pug