// esto es un comentario para html
//-Esto es un comentario s칩lo para pug
//-     m치s comentario
-const page = 1;

// Mixin estructuras qwe tienen forma de funciones (Se les puede a침adir par치metros y tienen un nombre)

include ../partials/variables.pug
include ../partials/mixins.pug

include ../partials/meta.pug
    body
        include ../partials/header.pug   
        main
            section#inicio
                h2 inicio
                figure
                    img(src="https://via.placeholder.com/500x350", alt="alt")   
                p Interpolar variables. Poner una variable ya establecida debemos ir a options.js # { variables }                           
        include ../partials/footer.pug
        