doctype
html(lang=language) 
    head
        meta(charset='utf-8')
        title Hola Pug
    body
        header
             h1 Hola Pug
        section
             p Interpolar variables. Poner una variable ya establecida debemos ir a options.js # { variables }
        section     
             p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Cupiditate quibusdam a quidem, accusamus, vero ipsa corporis 
                voluptate autem, repellat labore laborum non quas commodi! 
                Nam, sapiente. Perferendis mollitia consequuntur impedit!
        footer
            address #{autor}  
 