body {
    margin: 0;
    /* background: radial-gradient silver skyblue springgreen wheat; */
}

.mainheader {
    background-color:coral;
    color:rgb(255, 255, 255);
    height: 10vh;
    text-align: center;
    padding: 0.8rem 0rem 0.5rem 1rem;
    font-size: large;
}

.mainfooter {
    background-color: beige;
    color: coral;
    text-align: end;
    padding: 1rem; /* Da "Aire" a la p치gina */
}

.content_wrapper {
    margin: 1rem 5rem 1rem 1rem;
}

.imagenCentrada {
    text-align: center;
    max-width: 100%; /* Hace que una imagen sea responsive y puedes cambiar el tama침o de la imagen */
} 

p {
    text-align: justify; /* No se debe justificar por el tema de anchos en m칩viles y ordenadores */
}

.figcapt {
    text-align: center;

}

.conjuntoSections {
    margin: 1rem 1rem 1rem 12rem;

 }
 .tama침oImagen {
    size: 50px;
 }

 blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-style: italic; 
    border-left: 2px solid lightcoral;
    padding-left: 10px;
}

blockquote footer {
    margin-top: 0.5rem ;
    border-top: 1px solid darkkhaki;
    margin-bottom: 0.5rem;
    width: fit-content;    
    padding-left: 1px;

}

/*ol {
    list-style-type: none;
}*/
.verde{
    color: forestgreen;
    font-weight: bold;
}

.dt {
    
    float: left;
    clear: right;
    padding-left: 50px;
    padding-right: 10px; 

}

.clearfix {

    clear: both;
}

.dd {
    
    float: left;
    clear: right;

} 

footer a {  /* De esta forma coger todos los enlaces que haya dentro de footer */
    color: inherit;
    
} 

s {
    text-decoration: line-through red;
    font-style: italic;
    font-weight: bold;
}

/* .ger {
    display: none;
} */
  /*#section {

    
 }

 #sections_Elements {

 }

 #header {

 }

 #article {

 }

 #aside {


 }

 #nav {

 }

 #footer {


 }*/

