* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    background-color:darkblue;
    color: bisque;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

select{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.849);
    color: white;
    margin: 2rem;

}

select:hover{
    background-color: rgba(0, 119, 255, 0.733);
    color: rgb(0, 1, 8);

}